* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, serif, sans-serif;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #efefef;
}
body header nav {
  top: 0;
  z-index: 3;
  width: 100%;
  position: static;
  background-color: #3f3f3f;
}
body header nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
body header nav .nav-content {
  width: 100%;
  margin: auto;
  padding: 1em;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
body header nav .nav-content .logo a {
  font-size: 17pt;
}
body header nav .nav-content .search {
  width: 70%;
  padding: 10px;
}
body header nav .nav-content .search form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body header nav .nav-content .search form input[type=text] {
  width: 90%;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
body header nav .nav-content .search form button {
  padding: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14pt;
  background-color: transparent;
}
body header nav .nav-content .links {
  list-style: none;
}
body header nav .nav-content .links li {
  display: inline;
}
body header nav .nav-content .links li a {
  margin: 0px 0.5em;
  padding: 0.5em 1em;
  position: relative;
}
body header nav .nav-content .links li a:before {
  content: "";
  width: 100%;
  margin: auto;
  display: block;
  position: absolute;
  border-bottom: 1px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  transition: 0.3s linear width;
}
body header nav .nav-content .links li a:hover:before {
  width: 100%;
}
body header nav .nav-content .user {
  color: #fff;
  list-style: none;
  position: relative;
}
body header nav .nav-content .user li {
  font-weight: bold;
}
body header nav .nav-content .user li:hover .children {
  display: block;
}
body header nav .nav-content .user .children {
  left: 50%;
  color: #000;
  width: 150%;
  display: none;
  padding: 0.5em;
  min-width: 200px;
  margin-top: 0.5em;
  list-style: none;
  position: absolute;
  background-color: #fff;
  transform: translateX(-50%);
  box-shadow: 3px 3px 5px #3f3f3f;
}
body header nav .nav-content .user .children .triangle {
  left: 50%;
  top: -7px;
  width: 0px;
  height: 0px;
  position: absolute;
  transform: translateX(-50%);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #fff;
}
body header nav .nav-content .user .children li {
  width: 100%;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #3f3f3f;
}
body header nav .nav-content .user .children li:nth-last-child(1) {
  border-bottom: none;
  margin-bottom: 0px;
}
body header nav .nav-content .user .children li a {
  width: 100%;
  display: block;
  color: #3f3f3f;
  text-align: center;
}
body header nav .nav-content .users {
  list-style: none;
}
body header nav .nav-content .users li {
  display: inline;
  margin: 0px 0.5em;
}
body header nav .nav-content .users li i {
  font-size: 15pt;
}
body main .content {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
}
body main .content h2 {
  color: #f8ba53;
  font-size: 20pt;
  text-align: center;
  margin-bottom: 1em;
}
body main .content p[id$=-error] {
  color: red;
  opacity: 0;
  width: 100%;
  font-size: 11pt;
  text-align: left;
}
body main .content form {
  width: 70%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
}
body main .content form input[type=text] {
  width: 100%;
  padding: 5px;
  margin-bottom: 1em;
}
body main .content form textarea {
  width: 100%;
  padding: 5px;
  height: 100px;
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
  max-height: 200px;
  margin-bottom: 1em;
}
body main .content form .amount_wrap {
  width: 100%;
}
body main .content form .amount {
  width: 250px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
body main .content form .amount label {
  color: #646464;
}
body main .content form .amount .amount_wrapper {
  width: 150px;
  font-size: 10pt;
  padding: 0px 0.5em;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
body main .content form .amount .amount_wrapper input[type=text] {
  width: 60%;
  margin: 0px;
  border: none;
  color: #646464;
  font-size: 12pt;
  text-align: center;
  background-color: #fff;
}
body main .content form .amount .amount_wrapper .more, body main .content form .amount .amount_wrapper .less {
  cursor: pointer;
}
body main .content form .dropzone {
  width: 100%;
  height: 300px;
  color: #3f3f3f;
  position: relative;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
  border: 2px dashed #ccc;
}
body main .content form .dropzone .gallery_wrap {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
}
body main .content form .dropzone .gallery_wrap .thumnail {
  margin: 1em;
  width: 150px;
  height: 200px;
  padding: 0.5em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 2px dashed #ccc;
}
body main .content form .dropzone .gallery_wrap .thumnail img {
  width: 100%;
  max-height: 100%;
}
body main .content form .dropzone h3 {
  font-size: 13pt;
}
body main .content form .dropzone p {
  font-size: 10pt;
}
body main .content form .dropzone.dragover {
  color: #3f3f3f;
  border-color: #3f3f3f;
}
body main .content form .dropzone .input-wrap {
  width: 200px;
  height: 50px;
  color: #ccc;
  margin: 1em 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #3f3f3f;
}
body main .content form .dropzone .input-wrap:hover {
  color: #fff;
  cursor: pointer;
}
body main .content form .dropzone .input-wrap input[type=file] {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  right: 0px;
  bottom: 0px;
  position: absolute;
}
body main .content form .dropzone .input-wrap input[type=file]:hover {
  cursor: pointer;
}
body main .content form input[type=submit] {
  margin: 1em auto;
  display: block;
  width: 200px;
  border: none;
  padding: 1em;
  cursor: pointer;
  color: #3f3f3f;
  border-radius: 5px;
  background-color: #f8ba53;
  transition: 0.3s ease color;
  transition: 0.3s ease background-color;
}
body main .content form input[type=submit]:hover {
  color: #f8ba53;
  background-color: #3f3f3f;
}
body main .content form input[type=submit].disable {
  cursor: auto;
  color: #898989;
  background-color: #3f3f3f;
}
body footer {
  padding: 2em;
  color: #fff;
  background-color: #3f3f3f;
}
body footer .footer-content {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}
body footer .footer-content h2 {
  font-size: 30pt;
}
body footer .footer-content p {
  font-size: 11pt;
  margin: 1em 0px;
}
body footer .footer-content .social-media {
  list-style: none;
}
body footer .footer-content .social-media li {
  margin: 0px 1em;
  display: inline-block;
}
body footer .footer-content .social-media li a {
  width: 50px;
  height: 50px;
  font-size: 15pt;
  color: #3f3f3f;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
}
