* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, serif, sans-serif;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body, main {
  height: 100%;
}

body header nav {
  top: 0;
  z-index: 3;
  width: 100%;
  position: absolute;
}
body header nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
body header nav .nav-content {
  width: 100%;
  margin: auto;
  padding: 1em 0px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
body header nav .nav-content .logo a {
  font-size: 17pt;
}
body header nav .nav-content .links {
  list-style: none;
}
body header nav .nav-content .links li {
  display: inline;
}
body header nav .nav-content .links li a {
  margin: 0px 0.5em;
  padding: 0.5em 1em;
  position: relative;
}
body header nav .nav-content .links li a:before {
  content: "";
  width: 100%;
  margin: auto;
  display: block;
  position: absolute;
  border-bottom: 1px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  transition: 0.3s linear width;
}
body header nav .nav-content .links li a:hover:before {
  width: 100%;
}
body header nav .nav-content .users {
  list-style: none;
}
body header nav .nav-content .users li {
  display: inline;
  margin: 0px 0.5em;
}
body header nav .nav-content .users li i {
  font-size: 15pt;
}
body header nav {
  position: static;
  background-color: #3f3f3f;
}
body main {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main .error-message {
  width: 70%;
  opacity: 0;
  color: #FF0000;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
  border: 1px solid #FF0000;
}
body main form {
  width: 70%;
}
body main form .name, body main form .pass {
  margin: 1em 0px;
}
body main form .name input, body main form .pass input {
  width: 100%;
  padding: 5px;
}
body main form .name p[id$=-error], body main form .pass p[id$=-error] {
  color: red;
  opacity: 0;
  font-size: 11pt;
}
body main form input[type=submit] {
  width: 150px;
  display: block;
  margin: 0.5em auto;
  padding: 0.5em 0px;
}
body main hr {
  width: 90%;
  margin: 1em 0px;
}
body #loading-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
body #loading-modal-wrap .loading-modal {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 20px solid purple;
  border-top-style: groove;
  animation-name: turn;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  border-top-color: #e600e6;
}
body footer {
  padding: 2em;
  color: #fff;
  background-color: #3f3f3f;
}
body footer .footer-content {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}
body footer .footer-content h2 {
  font-size: 30pt;
}
body footer .footer-content p {
  font-size: 11pt;
  margin: 1em 0px;
}
body footer .footer-content .social-media {
  list-style: none;
}
body footer .footer-content .social-media li {
  margin: 0px 1em;
  display: inline-block;
}
body footer .footer-content .social-media li a {
  width: 50px;
  height: 50px;
  font-size: 15pt;
  color: #3f3f3f;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
}
