* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, serif, sans-serif;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  height: 100%;
}
html body {
  height: 100%;
}
html body header nav {
  top: 0;
  z-index: 5;
  width: 100%;
  position: static;
  background-color: #3f3f3f;
}
html body header nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
html body header nav .nav-content {
  width: 100%;
  margin: auto;
  padding: 1em;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
html body header nav .nav-content .logo a {
  font-size: 17pt;
}
html body header nav .nav-content .search {
  width: 70%;
  padding: 10px;
}
html body header nav .nav-content .search form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
html body header nav .nav-content .search form input[type=text] {
  width: 90%;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
html body header nav .nav-content .search form button {
  padding: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14pt;
  background-color: transparent;
}
html body header nav .nav-content .links {
  list-style: none;
}
html body header nav .nav-content .links li {
  display: inline;
}
html body header nav .nav-content .links li a {
  margin: 0px 0.5em;
  padding: 0.5em 1em;
  position: relative;
}
html body header nav .nav-content .links li a:before {
  content: "";
  width: 100%;
  margin: auto;
  display: block;
  position: absolute;
  border-bottom: 1px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  transition: 0.3s linear width;
}
html body header nav .nav-content .links li a:hover:before {
  width: 100%;
}
html body header nav .nav-content .user {
  color: #fff;
  list-style: none;
  position: relative;
}
html body header nav .nav-content .user li {
  margin: 0px 0.5em;
  font-weight: bold;
  display: inline-block;
}
html body header nav .nav-content .user li.user_btn {
  font-size: 10pt;
  cursor: pointer;
}
html body header nav .nav-content .user li.shopping-wrap {
  position: relative;
}
html body header nav .nav-content .user li.shopping-wrap i.fa-shopping-basket {
  cursor: pointer;
}
html body header nav .nav-content .user li.shopping-wrap div.triangle {
  width: 0px;
  height: 0px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #fff;
  display: none;
}
html body header nav .nav-content .user li.shopping-wrap div.items {
  left: 20%;
  height: 260px;
  width: 450px;
  bottom: -269px;
  overflow-y: scroll;
  color: #3f3f3f;
  padding: 1em 0.5em;
  position: absolute;
  background-color: #fff;
  transform: translateX(-80%);
  display: none;
}
html body header nav .nav-content .user li.shopping-wrap div.items p.empty {
  width: 100%;
  font-size: 11pt;
  text-align: center;
}
html body header nav .nav-content .user li.shopping-wrap div.items div.shopping-item {
  width: 100%;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
html body header nav .nav-content .user li.shopping-wrap div.items div.shopping-item:nth-last-child(1) {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
html body header nav .nav-content .user li.shopping-wrap div.items div.shopping-item h3 {
  width: 90%;
  font-size: 10.5pt;
}
html body header nav .nav-content .user li.shopping-wrap div.items div.shopping-item .remove-item {
  width: 28px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 2px solid #f8ba53;
  transition: 0.3s ease-out background-color;
}
html body header nav .nav-content .user li.shopping-wrap div.items div.shopping-item .remove-item:hover {
  background-color: #f8ba53;
}
html body header nav .nav-content .user li.shopping-wrap div.items div.shopping-item .remove-item:hover i {
  color: #fff;
}
html body header nav .nav-content .user li.shopping-wrap div.items div.shopping-item .remove-item i {
  font-size: 10pt;
}
html body header nav .nav-content .user .children {
  left: 45%;
  color: #000;
  width: 150%;
  display: none;
  padding: 0.5em;
  min-width: 200px;
  margin-top: 0.5em;
  list-style: none;
  position: absolute;
  background-color: #fff;
  transform: translateX(-55%);
  box-shadow: 3px 3px 5px #3f3f3f;
}
html body header nav .nav-content .user .children .triangle {
  left: 63%;
  top: -7px;
  width: 0px;
  height: 0px;
  position: absolute;
  transform: translateX(-37%);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #fff;
}
html body header nav .nav-content .user .children li {
  width: 100%;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #3f3f3f;
}
html body header nav .nav-content .user .children li:nth-last-child(1) {
  border-bottom: none;
  margin-bottom: 0px;
}
html body header nav .nav-content .user .children li a {
  width: 100%;
  display: block;
  color: #3f3f3f;
  text-align: center;
}
html body header nav .nav-content .users {
  list-style: none;
}
html body header nav .nav-content .users li {
  display: inline;
  margin: 0px 0.5em;
}
html body header nav .nav-content .users li i {
  font-size: 15pt;
}
html body header nav .nav-content .users li.shopping-wrap {
  position: relative;
}
html body header nav .nav-content .users li.shopping-wrap i.fa-shopping-basket {
  cursor: pointer;
}
html body header nav .nav-content .users li.shopping-wrap div.triangle {
  width: 0px;
  height: 0px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #fff;
  display: none;
}
html body header nav .nav-content .users li.shopping-wrap div.items {
  left: 20%;
  height: 260px;
  width: 450px;
  bottom: -269px;
  overflow-y: scroll;
  color: #3f3f3f;
  padding: 1em 0.5em;
  position: absolute;
  background-color: #fff;
  transform: translateX(-80%);
  display: none;
}
html body header nav .nav-content .users li.shopping-wrap div.items p.empty {
  width: 100%;
  font-size: 11pt;
  text-align: center;
}
html body header nav .nav-content .users li.shopping-wrap div.items div.shopping-item {
  width: 100%;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
html body header nav .nav-content .users li.shopping-wrap div.items div.shopping-item:nth-last-child(1) {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
html body header nav .nav-content .users li.shopping-wrap div.items div.shopping-item h3 {
  width: 90%;
  font-size: 10.5pt;
}
html body header nav .nav-content .users li.shopping-wrap div.items div.shopping-item .remove-item {
  width: 28px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 2px solid #f8ba53;
  transition: 0.3s ease-out background-color;
}
html body header nav .nav-content .users li.shopping-wrap div.items div.shopping-item .remove-item:hover {
  background-color: #f8ba53;
}
html body header nav .nav-content .users li.shopping-wrap div.items div.shopping-item .remove-item:hover i {
  color: #fff;
}
html body header nav .nav-content .users li.shopping-wrap div.items div.shopping-item .remove-item i {
  font-size: 10pt;
}
html body main {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
html body main .content {
  width: 70%;
  text-align: center;
}
html body main .content a {
  margin-top: 1em;
  width: 200px;
  border: none;
  padding: 1em;
  cursor: pointer;
  color: #3f3f3f;
  border-radius: 5px;
  background-color: #f8ba53;
  transition: 0.3s ease color;
  transition: 0.3s ease background-color;
  text-decoration: none;
  display: inline-block;
}
html body main .content a:hover {
  color: #f8ba53;
  background-color: #3f3f3f;
}
html body footer {
  padding: 2em;
  color: #fff;
  background-color: #3f3f3f;
}
html body footer .footer-content {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}
html body footer .footer-content h2 {
  font-size: 30pt;
}
html body footer .footer-content p {
  font-size: 11pt;
  margin: 1em 0px;
}
html body footer .footer-content .social-media {
  list-style: none;
}
html body footer .footer-content .social-media li {
  margin: 0px 1em;
  display: inline-block;
}
html body footer .footer-content .social-media li a {
  width: 50px;
  height: 50px;
  font-size: 15pt;
  color: #3f3f3f;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
}
