nav {
	top: 0;
	z-index: 3;
	width: 100%;
	position: absolute;
	
	a {
		color: $white;
		font-weight: bold;
		text-decoration: none;
	}

	.nav-content{
		width: 100%;
		margin: auto;
		padding: 1em;
		max-width: 1000px;
		@include center-flex(space-around, row);

		.logo {
			a {
				font-size: 17pt;
			}
		}

	
		.search {
			width: 70%;
			padding: 10px;

			form {
				width: 100%;
				@include center-flex();

				input[type=text]{
					width: 90%;
					border: none;
					padding: 5px;
					border-radius: 5px;
				}

				button {
					padding: 10px;
					border: none;
					color: $white;
					cursor: pointer;
					font-size: 14pt;
					background-color: transparent;
				}
			}
		}		


		.links {
			list-style: none;

			li {
				display: inline;

				a {
					margin: 0px 0.5em;
					padding: 0.5em 1em;
					position: relative;

					&:before {
						content: "";
						width: 100%;
						margin: auto;
						display: block;
						position: absolute;
						border-bottom: 1px solid $white;

						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: 0%;
						height: 100%;
						transition: 0.3s linear width;
					}

					&:hover {
						&:before {
							width: 100%;
						}
					}

				}
			}
		}

		.user {
			list-style: none;
			position: relative;

			li {
				font-weight: bold;

				&:hover .children {
					display: block;
				}
			}


			.children {
				left: 50%;
				color: #000;
				width: 150%;
				display: none;
				padding: 0.5em;
				margin-top: 0.5em;
				list-style: none;
				position: absolute;
				background-color: $white;
				transform: translateX(-50%);

				.triangle {
					left: 50%;
					top: -7px;
					width: 0px;
					height: 0px;
					position: absolute;
					transform: translateX(-50%);
					border-right: 7px solid transparent;
					border-left: 7px solid transparent;
					border-bottom: 7px solid $white;
				}


				li {
					width: 100%;
					margin-bottom: 0.5em;
					padding-bottom: 0.5em;
					border-bottom: 1px solid $dark_grey;

					&:nth-last-child(1) {
						border-bottom: none;
						margin-bottom: 0px;
					}

					a {
						width: 100%;
						display: block;
						color: $dark_grey;
						text-align: center;
					}
				}
			}
		}

		.users {
			list-style: none;

			li {
				display: inline;
				margin: 0px 0.5em;

				i {
					font-size: 15pt;
				}
			}
		}
	}
}