li.bell-notification {
    position: relative;

    i { cursor: pointer;}

    @import 'triangle_dropdown.scss';

    span#notifications_counter { @include notification_counter(); }


    #notification-items {
        top: 27px;
        right: 50%;
        width: 420px;
        color: $dark_grey;
        position: absolute;
        transform: translateX(50%);
        background-color: $white;
        @include center-flex(center, column);
        display: none;

        .items-wrap.empty {
            width: 100%;
            @include center-flex();

            h2 {
                font-size: 13pt;
            }
        }

        .items-wrap {
            width: 100%;
            height: 260px;
            overflow-y: scroll;
            border-bottom: 1px solid $grey;

            .item {
                width: 100%;
                padding: 0.5em;
                @include center-flex(space-between);

                &:hover {
                    background-color: $grey2;
                }

                img {
                    width: 60px;
                    height: 60px;
                    background-color: $dark_grey;
                }

                .data {
                    a {
                        margin: 5px 0px;

                    }
                }

                .remove-item {
                    width: 28px;
                    height: 30px;
                    cursor: pointer;
                    border-radius: 100%;
                    @include center-flex();
                    border: 2px solid $orange;
                    transition: 0.3s ease-out background-color;

                    &:hover {
                        background-color: $orange;

                        i { color: $white; }
                    }

                    i { font-size: 10pt; }
                }

            }
        }

        a {
            // width: 100%;
            color: $orange;
            font-size: 13px;
            display: block;
            margin: 1em 0px;
            text-align: center;
            text-decoration: underline;
            transition: 100ms color linear;

            &:hover {
                color: $dark_grey;
            }
        }
    }
}
