@import '../vendor/variables';
@import '../vendor/glide.core';
@import '../vendor/glide.theme';

.#{$glide-class}{

	$this: &;

	$se: $glide-element-separator;
	$sm: $glide-modifier-separator;

	&#{$se}slides {
		.#{$glide-class}#{$se}slide {
			img {width: 100%;}
		}
	}

	&#{$se}arrow {
		border: none; // Eliminate the border
		background-color: grey; // Change the default background
	}

	&:hover {
		.#{$glide-class}#{$se}arrow#{$sm}left{
			left: 2em;
		}

		.#{$glide-class}#{$se}arrow#{$sm}right{
			right: 2em;
		}

		.#{$glide-class}#{$se}bullets {
			bottom: 2em;
		}
	}
}