#modal-background {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	position: fixed;
	@include center-flex();
	background-color: rgba(0,0,0, 0.80);
	display: none; // hidden by default

	.info-wrap {
		width: 70%;
		color: #000;
		height: 460px;
		position: relative;
		background-color: $grey2;

		.item-details {
			width: 100%;
			height: 100%;
			padding: 1em;
			display: flex;
			position: relative;

			div {
				// flex: 1;
			}

			div.left {
				height: 100%;
				width: 45%;
				@include center-flex();
				background-color: $white;

				// glide gallery styles
				@import 'preview_gallery';
			}

			div.right {
				padding:0px 1em;
				width: 55%;

				h2 {
					color: $grey3;
					font-size: 13pt;
					font-weight: bold;
					text-transform: uppercase;
					@include center-flex(space-between);

					.price {
						font-weight: bold;
					}
				}

				.time-wrap{
					// border: 1px solid #000;

					.time-lapse {
						border:none;
						margin: 0px;
						height: 35px;
						width: 120px;
						padding: 0px 10px;
						text-align: center;
						color: $darker_grey;
						background-color: $grey2;
						border-bottom: 1px solid $darker_grey;
					}

					input[type="text"] {
						width: 50px;
						height: 35px;
						color: $dark_grey;
						font-weight: bold;
						text-align: center;
					}
				}

				.description {
					border: 1px solid $grey3;
					border-left-color: transparent;
					border-right-color:transparent;
					margin: 1.5em 0px;
					padding: 1.5em 0px;
					color: $grey3;

					h3 {
						font-size: 11pt;
					}

					p {
						font-size: 10pt;
					}
				}

				// Amount controls styles
				@import 'amount_controls_styles';

				.pricing {
					font-size: 10pt;
					margin: 1.5em 0px;
					color: $dark_grey;
					padding-bottom: 1em;
					border-bottom: 1px solid $grey;
					@include center-flex(flex-start);


					.price {
						margin: 0px 0.5em;
						padding: 0.3em 0.5em;
						border: 1px solid $darker_grey;
						background-color: $white;
					}

					strong {
						margin: 0px 0.5em;
						font-size: 13pt;
					}
				}

				.days_amount {
					width: 100%;
					// width: 200px;
					padding-bottom: 1em;
					border-bottom: 1px solid $grey;
					@include center-flex(flex-start);

					p {
						color: $grey3;
						font-size: 10pt;
					}

					.amount_wrapper {
						width: 90px;
						padding: 0.2em;
						font-size: 9pt;
						margin: 0px 0.5em;
						background-color: $white;
						border: 1px solid $darker_grey;
						@include center-flex(space-between);
						// border: 1px solid darken($grey3, 10%);

						.days {
							width: 60%;
							border: none;
							color: $grey3;
							font-size: 12pt;
							text-align: center;
						 }

						 .more, .less { cursor: pointer; color: $darker_grey;}
					}
				}

				span.seller {
					display: block;
					margin: 2.5em 0px;
					font-size: 10pt;

					a {
						color: $orange;
					}
				}

				.cesta_btn {
					// margin-top: 3em;
					@include add_to_basket_btn;

					// border:none;
					// padding: 1em;
					// color: $white;
					// font-size: 10pt;
					// cursor: pointer;
					// border-radius: 30px;
					// background-color: $orange;
					// transition: 0.3s linear color;
					// transition: 0.3s linear background-color;

					// &:hover {
					// 	color: $orange;
					// 	background-color: $white;
					// }
				}

				// Error styles
				@include product_info_error_styles();

				// #error-msg-wrap {
				// 	width: 100%;
				// 	padding: 1em;
				// 	font-size: 11pt;
				// 	margin-top: 1em;
				// 	position: relative;
				// 	text-align: center;
				// 	background-color: red;
				// 	display: none; // hidden by default

				// 	#close_btn {
				// 		font-size: 10pt;
				// 	}
				// }

			}

			#close_btn {
				top: 0.7em;
				// z-index: 11;
				right: 0.7em;
				font-size: 14pt;
				cursor: pointer;
				position: absolute;
			}

		}

		.loading-wrap {
			width: 100%;
			height: 100%;
			z-index: 10;
			position: absolute;
			@include center-flex();
			background-color: $grey2;
			transition: opacity 0.5s ease 0.1s;

			.loading {
				@include loading-circle;
			}
		}

		.hide { opacity: 0; }
	}
}
