li.shopping-wrap {
	// display: none;
	position: relative;

	i.fa-shopping-basket {
		// color: #000;
		cursor: pointer;
	}

	div.triangle {
		width: 0px;
		height: 0px;
		// z-index: 20;
		left: 50%;
		// top: -5px;
		position: absolute;
		transform: translateX(-50%);
		border-right: 9px solid transparent;
		border-left: 9px solid transparent;
		border-bottom: 9px solid $white;
		display: none; // Hidden by default
	}

	div.items {
		left: 20%;
		height: 260px;
		width: 450px;
		bottom: -269px;
		overflow-y:scroll;
		// overflow-style: scrollbar;
		color: $dark_grey;
		padding: 1em 0.5em;
		position: absolute;
		background-color: $white;
		transform: translateX(-80%);
		display: none; // Hidden by default

		p.empty {
			width: 100%;
			font-size: 11pt;
			text-align: center;
		}

		div.shopping-item {
			width: 100%;
			// height: 100%;
			margin-bottom: 1em;
			padding-bottom: 1em;
			border-bottom: 1px solid $dark_grey;
			@include center-flex(space-between);

			&:nth-last-child(1) {
				margin-bottom: 0px;
				padding-bottom: 0px;
				border-bottom: none;							
			}

			h3 {
				width: 90%;
				font-size: 10.5pt;
			}

			.remove-item {
				width: 28px;
				height: 30px;
				cursor: pointer;
				border-radius: 100%;
				@include center-flex();
				border: 2px solid $orange;
				transition: 0.3s ease-out background-color;

				&:hover {
					background-color: $orange;

					i { color: $white; }
				}

				i { font-size: 10pt; }
			}
		}
	}
}