@import 'partials/base';

body{
	background-color: $grey2;

	header { @import 'partials/nav'; }

	main {
		.content {
			padding: 2em;
			@include center-flex();
			flex-direction: column;

			h2 {
				color: $orange;
				font-size: 20pt;
				text-align: center;
				margin-bottom: 1em;
			}

			p[id$="-error"] {
				color: red;
				opacity: 0;
				width: 100%;
				font-size: 11pt;
				text-align: left;
			}

			form {
				// width: 100%;
				width: 70%;
				padding: 1em;
				@include center-flex();
				flex-direction: column;

				input[type=text] {
					// width: 70%;
					width: 100%;
					padding: 5px;
					// margin: 1em 0px;
					margin-bottom: 1em;

				}

				textarea {
					// width: 70%;
					width: 100%;
					padding: 5px;
					height: 100px;
					max-width: 100%;
					min-width: 100%;
					min-height: 50px;
					max-height: 200px;
					margin-bottom: 1em;
				}

				.amount_wrap {
					// width: 70%;
					width: 100%;
				}

				.amount {
					width: 250px;
					margin-bottom: 1em;
					@include center-flex(space-between);

					label {
						color: $grey3;
						// font-size: 10pt;
					}

					.amount_wrapper {
						width: 150px;
						font-size: 10pt;
						padding: 0px 0.5em;
						border: 1px solid $grey;
						background-color: $white;
						@include center-flex(space-between);

						input[type=text] { 
							width: 60%;
							margin: 0px;
							border: none;
							color: $grey3;
							font-size: 12pt;
							text-align: center;
							background-color: $white;
						 }

						 .more, .less { cursor: pointer; }
					}
				}

				.dropzone {
					// width: 70%;
					width: 100%;
					height: 300px;
					// margin: 1em 0px;
					color: $dark_grey;
					position: relative;
					margin-bottom: 1em;
					@include center-flex();
					flex-direction: column;
					border: 2px dashed $grey;

					.gallery_wrap {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 5;
						width: 100%;
						height: 100%;
						position: absolute;
						@include center-flex();
						background-color: $white;

						.thumnail {
							margin: 1em;
							width: 150px;
							height: 200px;
							padding: 0.5em;
							overflow: hidden;
							@include center-flex();
							border: 2px dashed $grey;

							img {
								width: 100%;
								max-height: 100%;
								// height: 100%;
							}
						}
					}

					h3 {
						font-size: 13pt;
					}

					p {
						font-size: 10pt;
					}

					&.dragover {
						color: $dark_grey;
						border-color: $dark_grey;
					}


					.input-wrap {
						width: 200px;
						height: 50px;
						color: $grey;
						margin: 1em 0px;
						position: relative;
						@include center-flex();
						background-color: $dark_grey;

						&:hover {
							color: $white;
							cursor: pointer;
						}

						input[type=file] {
							width: 100%;
							height: 100%;
							top: 0px;
							left: 0px;
							opacity: 0;
							right: 0px;
							bottom: 0px;
							position: absolute;

							&:hover {
								cursor: pointer;
							}
						}
					}
				}

				input[type=submit] {
					margin: 1em auto;
					display: block;
					@include button();
				}

				input[type=submit].disable {
					cursor: auto;
					color: $darker_grey;
					background-color: $dark_grey;
				}
			}
		}
	}

	@import 'partials/footer';
}