// Import base partials
@import 'partials/base';

body {
	header {
		width: 100%;
		height: 500px;
		color: $white;
		position: relative;
		@include center-flex();
		background-color: $grey;
		@include image-background('background2.jpg');

		.header-overlay {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0, 0.60);
		}

		.header-content {
			z-index: 3;
			width: 100%;
			max-width: 1000px;
			text-align: center;

			h2 {
				font-size: 25pt;
				margin-bottom: 0.5em;
			}

			p {
				font-weight: bold;
			}
		}

		nav {
			top: 0;
			z-index: 3;
			width: 100%;
			position: absolute;
			
			a {
				color: $white;
				font-weight: bold;
				text-decoration: none;
			}

			.nav-content{
				width: 100%;
				margin: auto;
				padding: 1em 0px;
				max-width: 1000px;
				@include center-flex(space-between, row);

				.logo {
					a {
						font-size: 17pt;
					}
				}

				.links {
					list-style: none;

					li {
						display: inline;

						a {
							margin: 0px 0.5em;
							padding: 0.5em 1em;
							position: relative;

							&:before {
								content: "";
								width: 100%;
								margin: auto;
								display: block;
								position: absolute;
								border-bottom: 1px solid $white;

								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								width: 0%;
								height: 100%;
								transition: 0.3s linear width;
							}

							&:hover {
								&:before {
									width: 100%;
								}
							}

						}
					}
				}

				.users {
					list-style: none;

					li {
						display: inline;
						margin: 0px 0.5em;

						i {
							font-size: 15pt;
						}
					}
				}
			}
		}
	}

	main {
		padding: 2em 1em;
		background-color: $grey2;

		.main-content {

			h2 {
				font-size: 23pt;
				text-align: center;
				color: $darker_grey;
				text-transform: uppercase;
			}

			hr {
				width: 90%;
				margin: 0px auto;
				display: block;
				margin: 1em auto;
			}

			.item-wrap {
				width: 100%;
				@include center-flex();

				.item {
					width: 300px;
					height: 442px;
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					justify-content: flex-end;
					background-color: $white;

					.img {
						width: 100%;
						height: 150px;
						background-color: $dark_grey;
					}

					.item-content {
						height: 20%;
						width: 100%;
						padding: 1em;
						display: flex;
						align-items: flex-start;
						justify-content: center;

						h3 {
							font-size: 11pt;
							color: $darker_grey;
						}
					}

					&:hover {
						box-shadow: 0px 2px 5px darken($grey2, 10%);
					}
				}
			}

		}
	}

	footer {
		padding: 2em;
		color: $white;
		background-color: $dark_grey;

		.footer-content {
			width: 100%;
			margin: auto;
			max-width: 1000px;
			text-align: center;

			h2 {
				font-size: 30pt;
			}

			p {
				font-size: 11pt;
				margin: 1em 0px;
			}

			.social-media {
				list-style: none;

				li {
					margin: 0px 1em;
					display: inline-block;

					a {
						width: 50px;
						height: 50px;
						font-size: 15pt;
						color: $dark_grey;
						border-radius: 100%;
						text-decoration: none;
						@include center-flex();
						background-color: $white;
					}
				}
			}
		}
	}
}