@import 'partials/base';

html, body, main {
	height: 100%;
}

body {
	header { @import 'partials/nav'; }

	main {
		padding: 2em;
		@include center-flex(center, column);

		.error-message {
			width: 70%;
			opacity: 0;
			color: $red;
			padding: 0.5em;
			text-align: center;
			margin-bottom: 1em;
			border: 1px solid $red;
		}

		form {
			width: 70%;

			.name, .pass {
				margin: 1em 0px;

				input {
					width: 100%;
					padding: 5px;
				}

				p[id$="-error"] { @include field_error(); }

			}

			input[type="submit"] {
				width: 150px;
				display: block;
				margin: 0.5em auto;
				padding: 0.5em 0px;
			}
		}

		hr {
			width: 90%;
			margin: 1em 0px;
		}
	}

	#loading-modal-wrap { @include loading-modal(); }

	// Footer
	@import 'partials/footer';
}