@import 'partials/base';

body {
	header {
		@import 'partials/nav';

		nav {
			position: static;
			background-color: $dark_grey;
		}
	}

	main {
		background-color: $grey2;

		.wrapper {
			padding: 2em;

			.success-message {
				width: 100%;
				color: green;
				font-size: 11pt;
				padding: 1em 0px;
				position: relative;
				text-align: center;
				border: 2px solid green;

				#close_btn {
					top: 50%;
					right: 0.7em;
					cursor: pointer;
					font-size: 12.5pt;
					color: $dark_grey;
					position: absolute;
					transform: translateY(-50%);
				}
			}

			.title {
				@include center-flex(space-between);
				
				a { 
					font-size: 14pt;
					@include link-styles;
				}

				h2 {
					color: $orange;
					margin: 1em 0px;
					text-transform: uppercase;
				}
			}

			.barbacoas_wrapper { 
				width: 100%;
				height: 800px;
				flex-wrap: wrap;
				overflow-y: scroll;
				box-shadow: 3px 3px 7px $dark_grey;
				@include center-flex(space-around);

				
				@import 'partials/items_styles';
			}

			.barbacoas_wrapper.none {
				height: 800px;
				@include center-flex();
			}

		}
	}

	@import 'partials/footer';
	@import "partials/product_modal_styles";

}
