@import 'partials/base';

body {
	header {
		@import 'partials/nav';

		nav {
			position: static;
			background-color: $dark_grey;
		}

	}

	main {
		background-color: $grey2;

		.wrapper {
			padding: 2em;

			h2 {
				color: $orange;
				text-transform: uppercase;
			}

			.barbacoas_wrapper { 
				width: 100%;
				height: 800px;
				flex-wrap: wrap;
				overflow-y: scroll;
				@include center-flex(space-around);

				
				@import 'partials/items_styles';
			}

			.barbacoas_wrapper.none {
				height: 800px;
				@include center-flex();
			}

		}
	}


	@import 'partials/footer';
}
