@import 'partials/base';

body {
	header { @import 'partials/nav'; }

	main {
		background-color: $grey2;

		.user_summary {
			padding: 2em;
			@include center-flex();
			background-color: $white;
		
			.content {
				width: 100%;
				max-width: 1000px;
				text-align: center;

				.img {
					width: 100px;
					height: 100px;
					margin: auto;
					display: block;
					border-radius: 100%;
					margin-bottom: 0.5em; 
					background-color: $dark_grey;
				}

				h3 {
					font-size: 17pt;
					color: $darker_grey;
				}

				h4 {
					font-size: 11pt;
					color: darken($darker_grey, 30%);
				}
			}
		}

		.products {
			h2 {
				color: $orange;
				font-size: 17pt;
				padding: 0.5em 0px;
				text-align: center;
			}

			.products_wrap {
				width: 70%;
				margin: auto;
				padding: 1em;
				text-align: center;

				p {
					color: $dark_grey;
				}
			}

		}

		hr {
			width: 90%;
			margin: auto;
			display: block;
		}
	}

	@import 'partials/footer';
}