@import 'partials/base';

body {
	background-color: $grey2;

	header { @import 'partials/nav'; }

	main {
		// padding: 1em;

		.user_summary {
			padding: 2em;
			height: 350px;
			@include center-flex();
			// background-color: #000;
			background-color: $white;
		
			.content {
				width: 100%;
				max-width: 1000px;
				text-align: center;

				img {
					width: 150px;
					height: 150px;
					// @include img();
					// width: 100px;
					// height: 200px !important;
					margin: auto;
					display: block;
					border-radius: 100%;
					margin-bottom: 0.5em; 
					// background-color: $dark_grey;
				}

				h3 {
					font-size: 17pt;
					color: $darker_grey;
				}

				h4 {
					font-size: 11pt;
					color: darken($darker_grey, 30%);
				}
			}
		}

		.products {
			// margin: 1em 0px;

			h2 {
				color: $orange;
				font-size: 17pt;
				padding: 0.5em 0px;
				text-align: center;
			}

			.products_wrap {
				width: 90%;
				margin: 1em auto;
				padding: 1em;
				height: 540px;
				position: relative;
				max-width: 1000px; 
				overflow-y: scroll;
				text-align: center;
				@include center-flex();
				// align-items: flex-start;
				flex-direction: column;
				border-bottom: 1px solid $grey;

				p {
					color: $dark_grey;
				}

				.item_list {
					width: 100%;
					padding: 0.5em;
					margin: 0.5em 0px;
					@include center-flex();
					// align-items: flex-start;
					border-top: 1px solid $white;

					&:hover {
						background-color: lighten($grey2, 3%);
					}

					.cover_img {
						flex-grow: 1;

						img {
							width: 100px;
							height: 150px;
						}
					}

					.description {
						flex-grow: 17;
						padding: 0.5em;
						text-align: left;

						p {
							font-size: 11pt;
							font-weight: bold;
							color: $darker_grey;
						}

						a {
							font-size: 11pt;
							font-weight: bold;
							color: $darker_grey;
							text-decoration: none;
							transition: 300ms ease color;

							&:hover {
								color: $orange;
							}
						}
					}

					.options {
						flex-grow: 1;
						width: 100px;
						height: 100px;
						@include center-flex();

						.count {
							padding: 0.5em 1em;
							background-color: $white;
							border:1px solid $darker_grey;
						}

						ul {
							height: 100%;
							list-style: none;
						}
					}
				}
			}

		}

		hr {
			width: 90%;
			margin: auto;
			display: block;
		}
	}

	@import 'partials/footer';
}